.bg_setup_card {
  background-image: url("https://cdn.shopify.com/s/files/1/0584/0958/2731/files/best-1.png?v=1665200596");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
