.collection_bg_set {
  background-image: url("https://birthblessing-cloth.mybigcommerce.com/product_images/uploaded_images/topbanner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection_bg_set2 {
  background-image: url("https://birthblessing-cloth.mybigcommerce.com/product_images/uploaded_images/topbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection_bg_set3 {
  background-image: url("https://birthblessing-cloth.mybigcommerce.com/product_images/uploaded_images/topbanner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
